body{
	font-family: arial;
	color: grey;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: grey;
}
#perso{
	font-size: small;
	min-width: 800px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 60px;
	color: black;
	padding-right: 23px;
}
.gmail{
	padding: 0 9px 0px 9px; 
	display: flex;
	align-items: center;
}
#logoapp{
	padding: 0 9px 0 9px;
	display: flex;
	align-items: center;
}
#connexion{
	font-weight: bold;
	color: white;
	font-size: 13px;
	background-color: #478bf9;
	padding: 6px 10px 6px 10px;
	border-radius: 2px;
	}
#logo{
	min-width: 800px;
	padding: 130px 0 25px 0;
	display: flex;
	justify-content: center;
}
#searchbar{
	min-width: 800px;
	display: flex;
	justify-content: center;
	margin-left: 15px;
}
input{
	padding: 12px 0 12px 30px;
	font-size: large;
	border-radius: 40px;
	border: solid 1px lightgrey;
	background: url(loupe.png) 12px;
	background-repeat: no-repeat;
}
#buttons{
	min-width: 800px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 17px;
}
.luck{
	border: none;
	font-size: 14px;
	color: dimgray;
	margin: 30px 12px 30px 0;
	padding: 9px 15px 9px 15px;
	border-radius: 5px;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
}
#bottom{
	min-width: 800px;
	border: solid green 5px;
	height: 80px;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	width: 100%;
}
#state{
	border: solid red 1px;
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	background-color: whitesmoke;
	padding-left: 30px;
	align-items: center;
}
#neverclicked{
	border: solid blue 1px;
	width: 100%;
	height: 50%;
	display: flex;
	font-size: 12px;
	flex-direction: row;
	background-color: whitesmoke;
	justify-content: space-around;
	align-items: center;
}
#leftelement{
	border: solid violet 1px;
	width: 50%;
	min-width: 400px;
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	justify-content: flex-start;
}
#rightelement{
	border: solid grey 1px;
	width: 50%;
	min-width: 400px;
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	justify-content: flex-end;
}
.element1{
	border: solid orange 1px;
	margin-left: 30px;
}
.element2{
	border: solid black 1px;
	margin-right: 30px;
}